a {
text-decoration: none;
color: black;

}

.back-button {
width: 11%;
margin-left: 30px;
margin-top: 30px;
height: 30px;
padding-bottom: 20px;
text-decoration: underline;
font-family: 'PT Sans', sans-serif;

}





.house-pic {
display: block;
margin-left: auto;
margin-right: auto;
width: 38%;
margin-top: -110px;
}

.flexbox-container {


}

.real-estate-blog {
width: 100%;
min-height: 200px;
border: 1px solid black;

}

.title {
font-family: 'BIZ UDPMincho', serif;
text-align: center;
font-size: 25px;
margin-right: 240px;
margin-left: 240px;
}

.blog-guts {
font-family: 'BIZ UDPMincho', serif;
font-size: 25px;
margin-left: 240px;
margin-right: 240px;

}

.sub-title {

  text-align: center;
  font-size: 28px;
}
